<!DOCTYPE html>
<html>

<head>

<title>Railway Crowd Dashboard</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
background:#111;
color:white;
text-align:center;
font-family:Arial;
}

h1{
color:#00ffcc;
}

canvas{
margin-top:40px;
}

.alert{
color:red;
font-size:30px;
font-weight:bold;
animation: blink 1s infinite;
}

@keyframes blink{
0%{opacity:1}
50%{opacity:0}
100%{opacity:1}
}

</style>

</head>

<body>

<h1>🚆 Smart Railway Crowd Analytics</h1>

<div id="alert"></div>

<canvas id="crowdChart" width="800" height="400"></canvas>

<script>

const ctx = document.getElementById('crowdChart');

let chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'People Count',
            data: [],
            borderColor: '#00ffcc',
            borderWidth: 2,
            fill:false
        }]
    },
    options:{
        scales:{
            y:{
                beginAtZero:true
            }
        }
    }
});

async function updateChart(){

    const response = await fetch('/data');
    const data = await response.json();

    const times = data.map(d => d.time);
    const counts = data.map(d => d.count);

    chart.data.labels = times;
    chart.data.datasets[0].data = counts;

    chart.update();

    if(counts.length > 0 && counts[counts.length-1] > 5){
        document.getElementById("alert").innerHTML =
        '<div class="alert">🚨 OVERCROWDED PLATFORM 🚨</div>';
    } else {
        document.getElementById("alert").innerHTML = "";
    }

}

setInterval(updateChart,2000);

</script>

</body>
</html>