<!DOCTYPE html>
<html>

<head>

<title>Railway Crowd Dashboard</title>

<meta http-equiv="refresh" content="3">

<style>

body{
background:#111;
color:white;
text-align:center;
font-family:Arial;
}

h1{
color:#00ffcc;
}

table{
margin:auto;
margin-top:30px;
border-collapse:collapse;
width:60%;
}

th,td{
border:1px solid #00ffcc;
padding:10px;
}

.alert{
color:red;
font-size:30px;
font-weight:bold;
animation: blink 1s infinite;
}

@keyframes blink{
0%{opacity:1}
50%{opacity:0}
100%{opacity:1}
}

</style>

</head>

<body>

<h1>🚆 Smart Railway Crowd Analytics</h1>

{% if data and data[-1]["count"] > threshold %}

<div class="alert">
🚨 OVERCROWDED PLATFORM 🚨
</div>

<audio autoplay>
<source src="https://www.soundjay.com/buttons/beep-07.wav">
</audio>

{% endif %}

<table>

<tr>
<th>Time</th>
<th>People Count</th>
</tr>

{% for entry in data %}

<tr>
<td>{{ entry.time }}</td>
<td>{{ entry.count }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>